@width-wrap: 80vw;

@color-forum: #393e4f;

@colors: {
    sd: #e6e6e6;
    cs: #b8e0d3;
    eecs: #ebe0ad;
    mech: #c7bddb;
    aerospace: #b3cce6;
    industrialart: #ebc2ad;
}

@title-font: "Helvetica Neue", Helvetica, sans-serif;
@faculty-font: "Noto Sans JP", Helvetica, sans-serif;
@base-font: "Noto Sans JP", Helvetica, sans-serif;

.font-h() {
    font-family: @title-font;
    font-weight: 400;
    font-style: normal;
}

.font-title() {
    font-family: @title-font;
    font-weight: 500;
    font-style: normal;
}

.font-faculty() {
    font-family: @faculty-font;
    font-weight: 400;
    font-style: normal;
}

.font-faculty-bold() {
    font-family: @faculty-font;
    font-weight: 400;
    font-style: normal;
}

.font-base() {
    font-family: @base-font;
    font-weight: 300;
    font-style: normal;
}

.draft {
    color:red;
    background-color: lightgreen;
}

html body {
    .font-base;
		margin: 0;
		color: #585858;
		line-height: 1.75;
}

/* Header */

#header {
	padding: 1em 0 0.1em 0;
}

#header .logo {
	display: block;
	border-bottom: 0;
	color: inherit;
	font-weight: 900;
	letter-spacing: 0.35em;
	margin: 0 0 2.5em 0;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

#header .logo>* {
	display: inline-block;
	vertical-align: middle;
}

#header .logo .symbol {
	margin-right: 0.65em;
}

#header .logo .symbol img {
	display: block;
	width: 2em;
	height: 2em;
}

/* Footer */

#footer {
	padding: 2em 0 2em 0;
	background-color: #f6f6f6;
}

#footer>.inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

#footer>.inner>*> :last-child {
	margin-bottom: 0;
}

#footer>.inner section:nth-child(1) {
	width: calc(66% - 2.5em);
	margin-right: 2.5em;
}

#footer>.inner section:nth-child(2) {
	width: calc(33% - 2.5em);
	margin-left: 2.5em;
}

#footer>.inner .copyright {
	width: 100%;
	padding: 0;
	margin-top: 5em;
	list-style: none;
	font-size: 0.8em;
	color: rgba(88, 88, 88, 0.75);
}

#footer>.inner .copyright a {
	color: inherit;
}

#footer>.inner .copyright li {
	display: inline-block;
	border-left: solid 1px rgba(88, 88, 88, 0.15);
	line-height: 1;
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}

#footer>.inner .copyright li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

h1 {
	font-size: 2em;
	margin: 0 0 1em 0;
}
@media screen and (max-width: 736px) {
	h1 {
			font-size: 2em;
	}
}
@media screen and (max-width: 360px) {
	h1 {
			font-size: 1.75em;
	}
}

iframe {
    border: unset;
}

.hiddeninput {
    display: none;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.kurukuru {
    cursor: wait !important;
}

#title {
    background: @color-forum;
    color: #c7c7c7;
    .font-title;
		font-size: 2vw;
		letter-spacing: 0.25em;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
}

#wrapp-outer {
	background-color: #eee;
	padding: 2vw;
	// box-shadow: 0 0 1.6vw inset;
}

#wrapp {
    width: @width-wrap;
    height: calc(10 * @width-wrap / 16);
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    margin: 1vw auto;
    box-shadow: 0 0 0.8vw gray;
    background: @color-forum;
    border-radius: 10px;
    overflow: hidden;
}

.menuitem {
		cursor: pointer;
		padding-left: 1em;
    color: rgb(24, 26, 58);
    height: calc(45vw / 6);
    line-height: calc(45vw / 6);
		font-size: 2vw;
		letter-spacing: 0.125em;
    .font-faculty;

    span {
        height: calc(45vw / 6);
        line-height: calc(45vw / 6);
        display: inline-block;
    }
}


.video {
    position: absolute;
    top: 5vw;
    left: 0px;
    width: 100%;
    height: 45vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all 1s ease-in-out;

    .videoitem {
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .videocover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: zoom-in;
        // box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 11px 13px 33px 5px rgba(10,10,10,0.9) inset;
    }

    .videoclose {
        display: block;
        cursor: zoom-out;
    }

    &>.videoitem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &>.videoclose {
        height: 4vw;
        width: 4vw;
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
        color: white;
        background: black;
        position: absolute;
        left: 100%;
        top: calc(calc(45vw / 2) - 2vw);
        margin-left: -4vw;
        border-radius: 10px 0px 0px 10px;
    }
}

//Video縮小中-------------------------------------------------------------------------------
#mode:checked~#wrapp {
    &>.video {
				transform: scale(0.6);
			// transform: translateX(10vw) scale(0.6);
        transform-origin: right center;
        transition: all 1s ease-in-out;
        // clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    }

    &>.video>.videocover {
        display: block;
    }

}

//Video拡大中-------------------------------------------------------------------------------
#mode:not(:checked)~#wrapp {
    &>.video {
        transition: all 1s ease-in-out;
        transform: translateX(0%) rotateY(00deg);
    }

    &>.video>.videocover {
        display: none;
    }
}

//個別ビデオ非選択時
.videoselector:not(:checked)~#wrapp {
    &>.video>.videoitem {
        transition: all 1s ease-in-out;
        transform: translateX(101%);
    }
}

article.detail {
    word-break: break-all;
    padding: 0 10vw;

    &>section {
        display: none;
        width: 100%;

        p {
            text-indent: 1em;
            text-align: justify;
            text-justify: inter-ideograph;
        }

        h1 {
            .font-faculty-bold;
            text-align: center;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            .font-h;
            text-align: center;
        }

        ul.labos {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ui.labo {
            margin-bottom: 2rem;
            width: calc(50% - 2vw);
            border-radius: 10px;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;

            .labo-base {
                background: whitesmoke;
                margin: 10px 0px;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                height: calc(100% - 20px);
            }

            .labo-video {
                width: 100%;
                min-height: 360px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                text-align:center;
                line-height:300px;
                i{
                    text-shadow: 0 0 5px #fff5, 0 0 10px #fff5, 0 0 15px #fff5, 0 0 20px #ff00de55, 0 0 35px #ff00de55, 0 0 40px #ff00de55, 0 0 50px #ff00de55, 0 0 75px #ff00de55;
                    color: #FF0000;
                    font-size:4em;
                    border-radius: 5px;
                    &:hover{
                        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
                    }
                }
            }

            .labo-contents {
                padding: 0 1rem;

                .labo-title {
                    text-align: center;
                }

                .labo-keyword {
                    text-align: center;
                    color: gray;
                    font-size: 0.7rem;

                    &:before {
                        content: "Keywords: ";
                    }
                }

            }

            .labo-prof {
                text-align: right;
                _margin-bottom: 1rem;
                _background: whitesmoke;
                _margin-bottom: 10px;
                padding: 0 1rem;

                img.labo-face {
                    display: inline;
                    margin: 0 auto;
                    height: 100%;
                    width: auto;
                }
                i.labo-face{
                    font-size:4rem;
                    vertical-align: middle;
                    background-color:LightGray;
                    color:DarkGray;
                    padding:1rem 0;
                }
                .labo-face-frame{
                    display:inline-block;
                    vertical-align: middle;
                    text-align:center;
                    width: 5rem;
                    height: 5rem;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;
                }

                span.labo-name-wrap {
                    vertical-align: middle;
                    font-size: 1.8rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    #card-template {
        display: none;
    }
}

.panoramabanner {
    width: 100%;
    height: 250px;
}

.panoramalink {
    text-align: right;
}


//@media screen and (orientation: portrait) {
@media screen and (max-width: 850px) {
    article.detail>section ui.labo {
        width: 100%;
    }

    .menuitem {
        font-size: 4.4vw;
    }

    .video {
        top: calc(10 * @width-wrap / 16);
    }
    .videocover{
        cursor:unset;
    }

    #wrapp {
        height: calc(20 * @width-wrap / 16);
    }

    #mode:not(:checked)~#wrapp {
        &>.video {
            transition: unset;
            transform: unset;
        }

        &>.video>.videocover {
            display: none;
        }
    }

    #mode:checked~#wrapp {
        &>.video {
            transform: unset;
            transform-origin: unset;
            transition: unset;
            clip-path: unset;
        }

        &>.video>.videocover {
            display: block;
        }

    }
    .videoclose {
        display: none !important;
        cursor: unset !important;
    }
}



each(@colors, {

        //個別ビデオメニュー
        .menuitem.@{key} {
            background-color: @value;

            &:hover {
								background:tint(@value, 50%);
								font-weight: 800;
            }
        }

        //個別ビデオ選択時
        .videoselector.@{key}:checked {
            &~#bg {
                background: linear-gradient(355deg, tint(@value, 90%, relative) 0%, rgba(255, 255, 255, 1) 73%);
            }

            &~#wrapp {
                &>.menuitem.@{key}>span {
                    background:darken(@value, 30%, relative);
                    transition: background 1s ease-in-out;
                }

                &>.menuitem.@{key} {
                }

                &>.video>.@{key} {
                    transition: all 1s ease-in-out;
                    transform: translateX(0%);
                }
            }

            &~article.detail>section.@{key} {
                display: block;

                .labo {
                    background:@value;
                }
            }
        }

        //個別本文
        article.detail>section.@{key} {
            h1 {
                // color:@value;
            }
        }
    }

)

/* Wrapper */

#wrapper>*>.inner {
	width: 100%;
	max-width: 68em;
	margin: 0 auto;
	padding: 0 2.5em;
}

@media screen and (max-width: 736px) {
	#wrapper>*>.inner {
			padding: 0 1.25em;
	}
}